@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.dropdown-container {
    max-width: 1200px;
    color: #001E63;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.dropdown-container:nth-child(1){
    border-top: 1px solid rgb(212, 212, 212);
}

label {
    padding: 20px;
    font-family: "Roboto", system-ui, sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

input[type="checkbox"], .extended{
    display: none;
}

.info-container {
    padding-left: 20px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.info {
    font-family: "Roboto", system-ui, sans-serif;
    overflow: hidden;
}

input[type=checkbox]:checked ~ .info-container {
    padding: 0px 20px 20px 20px;
    grid-template-rows: 1fr;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details-left {
    display: grid;
    gap: 5px;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}

h3 {
    margin: 10px 0px 0px 0px;
    font-size: 1em;
    font-weight: bold;
}

.details-right {
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.progressbar {
    margin-left: 10px;
    height: 15px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid #001E63;
}

.progressbar::-webkit-progress-value{
    border-radius: 20px;
    background-color: #001E63;
}

.progressbar::-webkit-progress-bar{
    border-radius: 20px;
    background-color: rgb(223, 221, 221);
}

.progressbar::-moz-progress-bar{
    border-radius: 20px;
    background-color: #001E63;
}

.pronation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.pronation div{
    margin: auto;
    padding-top: 40px;
}

.font-weight {
    font-weight: 400;
}

.tech-features ul {
    padding: 0;
    font-weight: bold;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    list-style: none;
}
